[submodule "plugins/win-dshow/libdshowcapture"]
	path = deps/libdshowcapture/src
	url = git@github.com:vans55/libdshowcapture.git
[submodule "plugins/obs-browser"]
	path = plugins/obs-browser
	url = git@github.com:vans55/obs-brower.git
[submodule "plugins/obs-websocket"]
	path = plugins/obs-websocket
	url = git@github.com:vans55/obs-websocket.git
